 # Preparing shapefiles from a given CSV file

In [1]:
# Imports
import pandas as pd
import ee
import geemap
import random
import geopandas as gpd
from shapely.geometry import Point, Polygon
from fiona.crs import from_epsg
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Required package for using geopandas
!pip install xlrd

Requirement already satisfied: xlrd in /home/manpa/miniconda3/envs/gee/lib/python3.9/site-packages (2.0.1)

## Working with the local excel file

In [3]:
# Read the raw excel file. 
# The raw excel files contains a lot of redundant information in the heading and hence NaN or unnamed values will be
# displayed as we try to visualize it without any filter.
read_excel = pd.read_excel('WUP2014-F12-Cities_Over_300K.xls',index_col=False)

In [4]:
# Filter out the columns we want to work on.
cols = ['Index','Country or area','Latitude','Longitude','Urban Agglomeration']

In [5]:
# Read the file from header (row no 16). The rows above 16th contains redundant information.
file = pd.read_excel('WUP2014-F12-Cities_Over_300K.xls',header=16,usecols=cols,index_col=False)

In [6]:
file

      Index Country or area Urban Agglomeration   Latitude  Longitude
0         1     Afghanistan               Herat  34.348170  62.199670
1         2     Afghanistan               Kabul  34.528887  69.172460
2         3     Afghanistan            Kandahar  31.613320  65.710130
3         4         Albania     Tiranë (Tirana)  41.327500  19.818890
4         5         Algeria              Annaba  36.900000   7.766670
...     ...             ...                 ...        ...        ...
1687   1688          Zambia              Lusaka -15.413374  28.277148
1688   1689          Zambia               Ndola -12.958670  28.636590
1689   1690        Zimbabwe            Bulawayo -20.150000  28.583330
1690   1691        Zimbabwe         Chitungwiza -18.012740  31.075550
1691   1692        Zimbabwe              Harare -17.829350  31.053890

[1692 rows x 5 columns]

In [7]:
# We also require the Country == India rows for the above filtered dataframe. 
# This is the final dataframe we will be working with.

final_df = file.loc[file['Country or area'] == 'India']

In [8]:
final_df

     Index Country or area Urban Agglomeration   Latitude  Longitude
707    708           India            Agartala  23.836390  91.275000
708    709           India                Agra  27.183330  78.016670
709    710           India           Ahmadabad  23.033330  72.616670
710    711           India          Ahmadnagar  19.083330  74.733330
711    712           India              Aizawl  23.724440  92.717500
..     ...             ...                 ...        ...        ...
868    869           India             Vellore  12.933330  79.133330
869    870           India          Vijayawada  16.516670  80.616670
870    871           India       Visakhapatnam  17.681874  83.209685
871    872           India            Warangal  18.000000  79.583330
872    873           India         Yamunanagar  30.100000  77.283330

[166 rows x 5 columns]

## Get the Map object as ipyleaflets

In [9]:
# Get the GEE map object
Map = geemap.Map(center=[40,100], zoom=4)
Map

Map(center=[40, 100], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(To…

In [10]:
# Create a hashmap to map the city center coordinates with the city name
city_dict = {}
cities = final_df['Urban Agglomeration'].tolist()
coor = list(zip(final_df['Longitude'].tolist(),final_df['Latitude'].tolist()))
shapefile_map = dict(zip(cities,coor))

In [11]:
# # Take the first eight data for testing
# sliced_map = dict(list(shapefile_map.items())[:len(shapefile_map)//20])
# sliced_map

## Helper functions

In [12]:
def create_polygon(coordinates, polygon_name):
    ''' 
    Create a polygon from coordinates
    ''' 
    polygon = Polygon(coordinates)
    gdf = gpd.GeoDataFrame()
    gdf.loc[0,'name'] = polygon_name
    gdf.loc[0, 'geometry'] = polygon
    
    gdf.crs = from_epsg(4326)
    return gdf

## Loop over the maps

In [13]:
root_path = '166_city_shapefiles/'
if not os.path.exists(root_path):
        os.makedirs(root_path)

### The following polygonal shapefiles are created with an assumption that all cities occupy around same area and the same buffer size is taken for all the cities. The alternate is classifying tier-1 and tier-2 cities (based on area) and accordingly setting the buffer size.

In [14]:
# # This part pf the code can be uncommented when tier wise shape files arerequired
# tier_one_cities  = ['one','two'] # Replace the list items with the names of the tier one cities from the 166 city list
# tier_two_cities  = ['three', 'four'] # Replace the list items with the names of the tier two cities from the 166 city list
# tier_three_cities = ['five','six'] # Replace the list items with the names of the tier three cities from the 166 city list

In [15]:
# for city,shape in shapefile_map.items():
#     if city in tier_one_cities:
#         poly_area = 14400  # Change this value according to the area
#     else if city in tier_two_cities:
#         poly_area = 12100  # Change this value according to the area
#     else if city in tier_three_cities:
#         poly_area = 10000 # Change this value according to the area
      
#     city_block = ee.Geometry.Point(shape).buffer(poly_area).bounds()
#     pointCoordinates = city_block.coordinates()
#     points = pointCoordinates.getInfo()[0]
    
#     # create polygon shapefiles
#     city_shape = create_polygon(points, city)
    
#     curr_dir = root_path+ city + '/'
    
#     if not os.path.exists(curr_dir):
#         os.makedirs(curr_dir)
    
#     # Export to shapefile if you want
#     city_shape.to_file(curr_dir + city + '.shp')

In [16]:
for city,shape in shapefile_map.items():
      
    city_block = ee.Geometry.Point(shape).buffer(14400).bounds()
    pointCoordinates = city_block.coordinates()
    points = pointCoordinates.getInfo()[0]
    
    # create polygon shapefiles
    city_shape = create_polygon(points, city)
    
    curr_dir = root_path+ city + '/'
    
    if not os.path.exists(curr_dir):
        os.makedirs(curr_dir)
    
    # Export to shapefile if you want
    city_shape.to_file(curr_dir + city + '.shp')


## Test the shapefiles

In [18]:
# # test any shapefile and the data as a geopandas dataframe
# fp = "myboundary2.shp"
# data = gpd.read_file(fp)

# # Print columns
# print(data.columns)
# print(data['name'].unique())

In [19]:
Map2 = geemap.Map(center=[40,100], zoom=4)
Map2

Map(center=[40, 100], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(To…

In [20]:
# add the necessary shapefile (considered Agra for testing)
city_file = root_path + 'Agra/' + 'Agra.shp'
roi = geemap.shp_to_ee(city_file)
Map2.addLayer(roi, {}, 'Agra')